# Name: JuNGLE
# Author: Stefan Helfrich
# Version: 0.7.6-SNAPSHOT
# Date: 2017/01/06
# Requires: ImageJ 1.47

# JuNGLE
Plugins>JuNGLE, "Preprocessor", de.fzj.jungle.preprocessing.PreprocessorPlugin
Plugins>JuNGLE, "Segmentation", de.fzj.jungle.segmentation.SegmentationPlugin

# REGISTRATION
Plugins>JuNGLE>Registration, "MultiStackReg", de.fzj.jungle.preprocessing.registration.MultiStackReg_
Plugins>JuNGLE>Registration, "Compress  Matrices", de.fzj.jungle.preprocessing.registration.Compress_Matrices
Plugins>JuNGLE>Registration, "MultiChannelStackReg", de.fzj.jungle.preprocessing.registration.MultiChannelStackReg_

# PREPROCESSING
Plugins>JuNGLE>Stabilizer, "Image Stabilizer", de.fzj.jungle.preprocessing.Image_Stabilizer
Plugins>JuNGLE>Stabilizer, "Image Stabilizer Log Applier", de.fzj.jungle.preprocessing.Image_Stabilizer_Log_Applier

# TRACKING
Plugins>Tracking, "Load a TrackMate file (JuNGLE Edition)", de.fzj.jungle.trackmate.LoadTrackMatePlugIn_

# SKELTONIZE
# Plugins>Skeleton, "Length Calculator", de.fzj.jungle.skeletonize.LengthCalculator_

# UTILITIES
Plugins>JuNGLE, "Splitting Tool", de.fzj.jungle.gui.RoiSplittingTool
Plugins>JuNGLE, "Kill Dead Pixels", de.fzj.jungle.util.KillDeadPixels
